@font-face {
  font-family: "iconfont"; /* Project id 3320962 */
  src: url('iconfont.woff2?t=1649735006741') format('woff2'),
       url('iconfont.woff?t=1649735006741') format('woff'),
       url('iconfont.ttf?t=1649735006741') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wangyiyunyinlezizhi-copy:before {
  content: "\e601";
}

.icon-yinle:before {
  content: "\e62e";
}

.icon-dongtai:before {
  content: "\e64f";
}

